Confirm Your New Email Address - Leader Leap

Hi there,

We received a request to change the email address for your Leader Leap account. To confirm this change, please click the link below:

{{ .ConfirmationURL }}

SECURITY NOTE: This link will expire in 24 hours for your security. If you didn't request this email change, you can safely ignore this email.

After confirming this change:
- Your new email address will be used for all future communications
- You'll continue to have access to all your assessment results
- Your development progress and insights will remain unchanged
- You'll receive future updates at your new email address

If you have any questions about this email change, please don't hesitate to reach out to our support team.

Best regards,
Steve Thompson
Encourager Coaching

---
Leader Leap - Empowering Leadership Development
This email was sent to {{ .Email }}. If you didn't request this email change, please ignore this email. 