Reset Your Password - Leader Leap

Hi there,

We received a request to reset your password for your Leader Leap account. If you made this request, please click the link below to create a new password:

{{ .ConfirmationURL }}

SECURITY NOTE: This link will expire in 1 hour for your security. If you didn't request a password reset, you can safely ignore this email.

After resetting your password, you'll be able to:
- Access your leadership assessment results
- Continue your development journey
- Track your progress and insights
- Access professional development resources

If you have any questions or need assistance, please don't hesitate to reach out to our support team.

Best regards,
Steve Thompson
Encourager Coaching

---
Leader Leap - Empowering Leadership Development
This email was sent to {{ .Email }}. If you didn't request a password reset, please ignore this email. 